Cykash==1.0.2
MarkupSafe==1.1.1
Cython==0.29.19
Jinja2==2.11.2
Pyrosm==0.5.2
Geopandas==0.7.0

Attrs==19.3.0
Click==7.1.2
Click-plugins==1.1.1
Cligj==0.5.0
Fiona==1.8.13.post1
Munch==2.5.0
Numpy==1.18.4
Pandas==1.0.4
Pygeos==0.7.1
Pyproj==2.6.1.post1
Pyrosm==0.5.2
Python-dateutil==2.8.1
Python-rapidjson-0.9.1
Pytz==2020.1
Setuptools==47.1.1
Shapely-1.7.0 six-1.15.0
